@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Corewood University</h1>
</div>
<div class="hero-div">
    <img class="hero-img" src="~/images/library.jpg" alt="school library"/>
</div>
<div class="row home-row">
    <div class="col-md-4 home-col">
        <h2>Welcome to Corewood University</h2>
        <p>
            Corewood University is a prestigious institution dedicated to providing high-quality education and fostering academic excellence. With a rich history spanning over several decades, we are committed to shaping the future leaders of tomorrow.
        </p>
        <p><a class="btn btn-default" asp-controller="Home" asp-action="About">About Corewood University &raquo;</a></p>
    </div>
    <div class="col-md-4 home-col">
        <h2>Explore our Courses</h2>
        <p>Discover a wide range of academic programs tailored to meet the diverse interests and career goals of our students. Whether you're passionate about the arts, sciences, business, or technology, Corewood University offers a comprehensive selection of degree options.</p>
        <p><a class="btn btn-default" asp-controller="Courses" asp-action="Index">Browse Courses &raquo;</a></p>
    </div>
    <div class="col-md-4 home-col">
        <h2>Get to Know Our Instructors</h2>
        <p>Our esteemed instructors bring a wealth of knowledge and expertise to Corewood University. Learn more about the dedicated professionals who are passionate about teaching and guiding our students toward academic success.</p>
        <p><a class="btn btn-default" asp-controller="Instructors" asp-action="Index">Meet our Instructors &raquo;</a></p>
    </div>
</div>
